<!DOCTYPE html>
<html>
	<head>
		<title>GamingAnalytics.ai</title>
		<link href="../static/css/global.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway|Roboto+Slab" rel="stylesheet">
	</head>

	<body>
		<div id="wrapper">
			<header>
				<h1>GamingAnalytics.ai</h1>
				<div id="search">
					<form action="/visualizations" method='POST' >
	            <input type="text" name="user_input" />
	            <input type="submit" />
	        </form>
				</div> <!-- close search -->
			</header>
		</div> <!-- close wrapper -->
	</body>
</html>
