.form-nav {
  width: 430px !important;
}

.answer {
  text-align: left;
  padding-top: 20px;
  font-size: 40px;
  line-height: 40px;
}

.answer-text {
  display: inline;
}

.answer-statistic {
  padding-left: 50px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f1fbe0;
 }
