.navbar-green {
  background-color: #96be53;
	border-color: #96be53;
}

.form-nav-green {
	background-color: #bcee68;
	border-color: #bcee68;
}

.form-nav-green::-webkit-input-placeholder { color: #708e3e; }
.form-nav-green:-moz-placeholder { color: #708e3e; }
.form-nav-green::-moz-placeholder { color: #708e3e; }
.form-nav-green:-ms-input-placeholder { color: #708e3e; }

.btn-nav-green {
  background-color: #bcee68;
  border-color: #bcee68;
  color: #708e3e;
}
